[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = ">=2.0.0"
socksipy-branch = "*"
pyjwt = "==1.4.2"
twine = "*"
gunicorn = "*"


[requires]

install_requires=[
    'Flask>=0.2',
    'SQLAlchemy>=0.6',
    'BrokenPackage>=0.7,<=1.0'
]
python_version = "2.7.14"
