[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
requests = ">=2.0.0"
socksipy-branch = "*"
pyjwt = "==1.4.2"
twine = "*"
gunicorn = "*"
Flask = "==0.12.2"
flask_sqlalchemy = "==2.3.2"

[requires]
python_version = "2.7.10"
